<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Elektron - {{title}}</title>

  {{> head}}

</head>

<body {{#if bodyClass}}class="{{bodyClass}}"{{/if}}>

  <!-- BEGIN .app -->
  <div class="app">

    <!-- BEGIN .app-wrap -->
    <div class="app-wrap">

      <!-- BEGIN .app-heading -->
      <header class="app-heading is-open {{#if headerClass}}{{headerClass}}{{/if}}">
        <a class="onoffcanvas-toggler" href="#app-side" data-toggle="onoffcanvas"></a>
      </header>
      <!-- END:  .app-heading -->

      <!-- BEGIN .app-container -->
      <div class="app-container">

        <!-- BEGIN .app-side -->
        <aside class="app-side side-inverse onoffcanvas is-left" id="app-side">

          {{> side-heading}}

          <!-- BEGIN .side-content -->
          <div class="side-content {{#if sideCntSticky}}is-sticky{{/if}}">
            {{> side-nav }}
          </div>
          <!-- END: .side-content -->

          <!-- BEGIN .side-footer -->
          <footer class="side-footer">
            SIDE FOOTER
          </footer>
          <!-- END .side-footer -->

        </aside>
        <!-- END: .app-side -->

        <!-- BEGIN .app-main -->
        <div class="app-main">

          <!-- BEGIN .main-heading -->
          <header class="main-heading">
            MAIN HEADING
          </header>
          <!-- END: .main-heading -->

          <!-- BEGIN .main-content -->
          <div class="main-content">

              {% body %}

          </div>
          <!-- END: .main-content -->

          <!-- BEGIN .main-footer -->
          <footer class="main-footer">
            main footer
          </footer>
          <!-- END: .main-footer -->

        </div>
        <!-- END: .app-main -->

      </div>
      <!-- END: .app-container -->

      <!-- begin .app-footer -->
      <footer class="app-footer {{#if footerClass}}{{footerClass}}{{/if}}">
        <p>
          {{pkg.name}} v{{pkg.version}} 2017
        </p>
      </footer>
      <!-- END: .app-footer -->

    </div>
    <!-- END: .app-wrap -->

  </div>
  <!-- END: .app -->

  {{> scripts}}

</body>

</html>
