---
layout: base
---
{{#if noHeader}}
{{else}}
<!-- BEGIN .elk-header -->
<header class="elk-header {{#if headerClass}}{{headerClass}}{{/if}}">
  <a class="onoffcanvas-toggler is-animated" href="#elk-side" data-toggle="onoffcanvas"></a>
  <a href="index.html">
    <img src="assets/img/logo.svg" alt="Elektron Logo">
  </a>
</header>
<!-- END:  .elk-header -->
{{/if}}
<!-- BEGIN .elk-container -->
<div class="elk-container">

  <!-- BEGIN .elk-side -->
  <aside class="elk-side {{#if app-side-class}}{{app-side-class}}{{/if}}" id="elk-side">

    {{> elk-side-header}}

    <!-- BEGIN .elk-side-content -->
    <div class="elk-side-content {{#if side-content-sticky}}is-sticky{{/if}}">
      {{> elk-side-nav }}
    </div>
    <!-- END: .elk-side-content -->
    
    {{#if noFooter}}
    {{else}}
    {{> elk-side-footer}}
    {{/if}}    

  </aside>
  <!-- END: .elk-side -->

  <!-- BEGIN .elk-main -->
  <div class="elk-main{{#if elkMainIsFixed}} is-fixed{{/if}}">

{{#if noHeader}}
{{else}}
    <!-- BEGIN .elk-main-heading -->
    <header class="elk-main-header">
      MAIN HEADER
    </header>
    <!-- END: .elk-main-header -->
{{/if}}
    <!-- BEGIN .elk-main-content -->
    <div class="elk-main-content">
      <label class="elk-switch">
        <input name="dark" class="elk-switch-input" type="checkbox">
        <span class="elk-switch-indicator"></span>
      </label>
      <hr>
        {% body %}

    </div>
    <!-- END: .elk-main-content -->
{{#if noFooter}}
{{else}}
<!-- BEGIN .elk-main-footer -->
    <footer class="elk-main-footer">
      MAIN FOOTER
    </footer>
{{/if}}
    
    <!-- END: .elk-main-footer -->

  </div>
  <!-- END: .elk-main -->

</div>
<!-- END: .elk-container -->

{{#if noFooter}}
{{else}}
<!-- begin .elk-footer -->
<footer class="elk-footer {{#if footerClass}}{{footerClass}}{{/if}}">
  <p>
    {{pkg.name}} v{{pkg.version}} 2018
  </p>
</footer>
<!-- END: .elk-footer -->
{{/if}}